#screen {
  outline: 1px solid orange;
  background-color: rgba(255, 0, 0, 0.25);
  position: relative;
  aspect-ratio: 16/9;
  display: grid;
}
.hidden {
  visibility: hidden;
}
#game {
  outline: 1px solid orange;
  background-color: rgba(255, 0, 0, 0.25);
  /* position: absolute; */
  grid-row: 1;
  grid-column: 1;
}
#start {
  outline: 1px solid orange;
  background-color: rgba(255, 0, 0, 0.25);
  position: absolute;
  grid-row: 1;
  grid-column: 1;
}
#game_over {
  outline: 1px solid orange;
  background-color: rgba(255, 0, 0, 0.25);
  position: absolute;
  grid-row: 1;
  grid-column: 1;
}
#level_complete {
  outline: 1px solid orange;
  background-color: rgba(255, 0, 0, 0.25);
  position: absolute;
  grid-row: 1;
  grid-column: 1;
}
#game_background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(Images/metalsheet.jpg);
  background-size: cover;
  transform: scaleX(-1);
}
#game_elements {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  /* background-color: rgba(255, 0, 0, 0.25); */
}
#game_ui {
  display: grid;
}

/* Spil-elementer */

#greenbuttonOFF_container1 {
  scale: 0.03 0.03;
  position: absolute;
  top: -50%;
  left: -5%;
}
#greenbuttonOFF_container2 {
  scale: 0.03 0.03;
  position: absolute;
  top: -60%;
  left: -5%;
}
#greenbuttonOFF_container3 {
  scale: 0.03 0.03;
  position: absolute;
  top: -70%;
  left: -5%;
}

#redbuttonOFF_container1 {
  scale: 0.03 0.03;
  position: absolute;
  top: -50%;
  left: 25%;
}
#redbuttonOFF_container2 {
  scale: 0.03 0.03;
  position: absolute;
  top: -60%;
  left: 25%;
}
#redbuttonOFF_container3 {
  scale: 0.03 0.03;
  position: absolute;
  top: -70%;
  left: 25%;
}

/* ui-elemtenter */

/* #scoreboard {
  background-color: yellow;
}
#life_board {
  background-color: yellow;
}
#time_board {
  background-color: yellow;
} */
