body {
  margin: 0;
}
#screen {
  position: relative;
  aspect-ratio: 16/9;
  display: grid;
}
.hidden {
  visibility: hidden;
}
/* Skalering af elementerne i forhold til vinduet skal fixes */
#game {
  grid-row: 1;
  grid-column: 1;
}
#start {
  position: absolute;
  grid-row: 1;
  grid-column: 1;
}
#game_over {
  position: absolute;
  grid-row: 1;
  grid-column: 1;
}
#level_complete {
  position: absolute;
  grid-row: 1;
  grid-column: 1;
}
#game_background {
  width: 100%;
  height: 100%;
  background-image: url(Images/metalsheet.jpg);
  position: absolute;
  background-size: cover;
}
#game_elements {
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-color: rgba(255, 0, 0, 0.25); */
}

/* Spil-elementer */
#greenButton1_container {
  position: absolute;
  top: 0%;
  left: 35%;
}
#greenButton1_sprite {
  width: 100%;
}
#greenButton2_container {
  position: absolute;
  top: 0%;
  left: 55%;
}
#greenButton3_container {
  position: absolute;
  top: 0%;
  left: 85%;
}

#redButton1_container {
  position: absolute;
  top: 0%;
  left: 45%;
}
#redButton2_container {
  position: absolute;
  top: 0%;
  left: 75%;
}
#redButton3_container {
  position: absolute;
  top: 0%;
  left: 65%;
}

/* ui-elemtenter */

#game_ui {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
}
#scoreboard {
  position: absolute;
  filter: brightness(1.5);
  top: 45%;
  left: 2%;
}
#life_board {
  transform: scale(0.3);
  position: absolute;
  left: 30%;
  top: -20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10%;
}
#indicator_red1,
#indicator_red2,
#indicator_red3 {
  position: relative;
  left: 21%;
  top: -160%;
}

#time_board {
  transform: scale(0.4);
  position: absolute;
  top: 3%;
  left: -30%;
}
#slider {
  transform: scale(0.66, 0.5);
  filter: brightness(1.5);
  position: absolute;
  overflow: hidden;
  left: -20%;
  top: 19.5%;
}
/* Animationer */

.rising {
  animation-name: rising;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.fade_out {
  animation-name: fade_out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.squeeze {
  animation-name: squeeze;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#indicator_red1 {
  animation-name: brighter1;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
#indicator_red2 {
  animation-name: brighter1;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
#indicator_red3 {
  animation-name: brighter1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes rising {
  0% {
    transform: translate(0, 1500%);
  }
  100% {
    transform: translate(0, 480%);
  }
}
@keyframes fade_out {
  100% {
    opacity: 0%;
  }
}
@keyframes squeeze {
  100% {
    transform: scale(0, 0.5);
  }
}
@keyframes brighter1 {
  100% {
    filter: brightness(8);
  }
}
@keyframes brighter2 {
  100% {
    filter: brightness(20);
  }
}
.paused {
  animation-play-state: paused;
}
